whatsapp_message_to_veo_video.blueprint (1).json
{
    "name": "whatsapp_message_to_veo_video",
    "flow": [
        {
            "id": 1,
            "module": "whatsapp-business-cloud:watchEvents2",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2119494
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -161,
                    "y": -2
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My WhatsApp Business Cloud Events webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:whatsapp-business-cloud",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "WhatsApp Business Account ID"
                    },
                    {
                        "name": "time",
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "field",
                        "type": "text",
                        "label": "Field"
                    },
                    {
                        "name": "messaging_product",
                        "type": "text",
                        "label": "Messaging Product"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "display_phone_number",
                                "type": "text",
                                "label": "Display Phone Number"
                            },
                            {
                                "name": "phone_number_id",
                                "type": "text",
                                "label": "Phone Number ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "contacts",
                        "spec": {
                            "spec": [
                                {
                                    "name": "profile",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Profile"
                                },
                                {
                                    "name": "wa_id",
                                    "type": "text",
                                    "label": "WhatsApp ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "spec": [
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Message ID"
                                },
                                {
                                    "name": "timestamp",
                                    "type": "date",
                                    "label": "Timestamp"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "body",
                                            "type": "text",
                                            "label": "Body"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "audio",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        },
                                        {
                                            "name": "voice",
                                            "type": "boolean",
                                            "label": "Voice"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Audio"
                                },
                                {
                                    "name": "video",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Video"
                                },
                                {
                                    "name": "document",
                                    "spec": [
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File Name"
                                        },
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Document"
                                },
                                {
                                    "name": "contacts",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "spec": [
                                                    {
                                                        "name": "formatted_name",
                                                        "type": "text",
                                                        "label": "Formatted Name"
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "middle_name",
                                                        "type": "text",
                                                        "label": "Middle Name"
                                                    },
                                                    {
                                                        "name": "suffix",
                                                        "type": "text",
                                                        "label": "Name Suffix"
                                                    },
                                                    {
                                                        "name": "prefix",
                                                        "type": "text",
                                                        "label": "Name Prefix"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "phones",
                                                "spec": [
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Phones"
                                            },
                                            {
                                                "name": "emails",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Emails"
                                            },
                                            {
                                                "name": "org",
                                                "spec": [
                                                    {
                                                        "name": "company",
                                                        "type": "text",
                                                        "label": "Company"
                                                    },
                                                    {
                                                        "name": "department",
                                                        "type": "text",
                                                        "label": "Department"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Organization"
                                            },
                                            {
                                                "name": "urls",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "URLs"
                                            },
                                            {
                                                "name": "addresses",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "street",
                                                        "type": "text",
                                                        "label": "Street"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "country_code",
                                                        "type": "text",
                                                        "label": "Country Code"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Addresses"
                                            },
                                            {
                                                "name": "birthday",
                                                "type": "text",
                                                "label": "Birthday"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Contacts"
                                },
                                {
                                    "name": "sticker",
                                    "spec": [
                                        {
                                            "name": "mime_type",
                                            "type": "text",
                                            "label": "MIME Type"
                                        },
                                        {
                                            "name": "sha256",
                                            "type": "text",
                                            "label": "SHA256"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Media ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sticker"
                                },
                                {
                                    "name": "location",
                                    "spec": [
                                        {
                                            "name": "latitude",
                                            "type": "number",
                                            "label": "Latitude"
                                        },
                                        {
                                            "name": "longitude",
                                            "type": "number",
                                            "label": "Longitude"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "address",
                                            "type": "text",
                                            "label": "Address"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Location"
                                },
                                {
                                    "name": "context",
                                    "spec": [
                                        {
                                            "name": "from",
                                            "type": "text",
                                            "label": "From"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "Context ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Context"
                                },
                                {
                                    "name": "button",
                                    "spec": [
                                        {
                                            "name": "payload",
                                            "type": "text",
                                            "label": "Payload"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Button"
                                },
                                {
                                    "name": "interactive",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "list_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "List Reply"
                                        },
                                        {
                                            "name": "button_reply",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Button Reply"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Interactive"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Messages"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-vertex-ai:createAMultimodalPrompt",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3613811
            },
            "mapper": {
                "topP": "1",
                "model": "gemini-2.5-flash",
                "messages": [
                    {
                        "role": "user",
                        "content": "Create a highly structured and detailed video production prompt Google veo, covering the target audience, objective, product features, storyboarding (including visuals and voiceover), audio elements, and a final Call to Action. The video duration is 8 seconds. The video must be based on the user request: '{{1.messages[].text.body}}'. Output only the generated prompt structure, ensuring no introductory text, headings, or labels (like \"Prompt for Video Generation:\" or \"1. Target Audience:\") are included. Start the output immediately with the content of the prompt itself."
                    }
                ],
                "projectId": "make-test-478011",
                "temperature": "0.9",
                "responseMimeType": "text/plain",
                "serviceEndpointLocationId": "us-central1"
            },
            "metadata": {
                "designer": {
                    "x": 126,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash",
                            "nested": [
                                {
                                    "name": "tools",
                                    "type": "select",
                                    "label": "Tools",
                                    "options": [
                                        {
                                            "label": "Function Declarations",
                                            "value": "functionDeclarations",
                                            "nested": [
                                                {
                                                    "name": "functionDeclarations",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Function Name",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "description",
                                                            "type": "text",
                                                            "label": "Function Description",
                                                            "required": true
                                                        },
                                                        {
                                                            "help": "Configuration of the parameters that the function accepts.",
                                                            "name": "parameters",
                                                            "spec": {
                                                                "spec": [
                                                                    "rpc://google-vertex-ai/1/parametersGeminiFunctionParameters"
                                                                ],
                                                                "type": "collection",
                                                                "label": "Parameter"
                                                            },
                                                            "type": "array",
                                                            "label": "Parameters",
                                                            "required": true
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Function Declarations"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Grounding",
                                            "value": "grounding",
                                            "nested": [
                                                "rpc://google-vertex-ai/1/parametersGrounding"
                                            ]
                                        }
                                    ],
                                    "advanced": true
                                }
                            ]
                        },
                        "tools": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "files": {
                                        "mode": "chose"
                                    }
                                }
                            ]
                        },
                        "projectId": {
                            "mode": "chose",
                            "label": "Make test"
                        },
                        "stopSequences": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "responseMimeType": {
                            "label": "Text"
                        },
                        "serviceEndpointLocationId": {
                            "mode": "chose",
                            "label": "Iowa"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-vertex-ai"
                            },
                            "label": "My Google Gemini (Vertex AI) connection (vrindavnair21@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-vertex-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "projectId",
                        "type": "select",
                        "label": "GCP Project",
                        "required": true
                    },
                    {
                        "name": "serviceEndpointLocationId",
                        "type": "select",
                        "label": "Region",
                        "required": true,
                        "validate": {
                            "enum": [
                                "us-central1",
                                "us-west4",
                                "northamerica-northeast1",
                                "us-east4",
                                "us-west1",
                                "europe-west1",
                                "europe-west3",
                                "europe-west2",
                                "europe-west4",
                                "europe-west9",
                                "asia-northeast3",
                                "asia-southeast1",
                                "asia-northeast1"
                            ]
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "default": true
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "model"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content",
                                    "required": true
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "fileType",
                                                "type": "select",
                                                "label": "File Type",
                                                "options": [
                                                    {
                                                        "label": "Image",
                                                        "value": "image",
                                                        "nested": [
                                                            {
                                                                "name": "inputType",
                                                                "type": "select",
                                                                "label": "Image Input Method",
                                                                "options": [
                                                                    {
                                                                        "label": "Upload a File",
                                                                        "value": "upload",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File Name",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "png",
                                                                                    "jpeg",
                                                                                    "jpg",
                                                                                    "webp",
                                                                                    "heic",
                                                                                    "heif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "File URL",
                                                                        "value": "uri",
                                                                        "nested": [
                                                                            {
                                                                                "help": "The file extension/format.",
                                                                                "name": "mime",
                                                                                "type": "select",
                                                                                "label": "MIME Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "PNG",
                                                                                        "value": "png"
                                                                                    },
                                                                                    {
                                                                                        "label": "JPG",
                                                                                        "value": "jpg"
                                                                                    },
                                                                                    {
                                                                                        "label": "JPEG",
                                                                                        "value": "jpeg"
                                                                                    },
                                                                                    {
                                                                                        "label": "WEBP",
                                                                                        "value": "webp"
                                                                                    },
                                                                                    {
                                                                                        "label": "HEIC",
                                                                                        "value": "heic"
                                                                                    },
                                                                                    {
                                                                                        "label": "HEIF",
                                                                                        "value": "heif"
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URL",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Video",
                                                        "value": "video",
                                                        "nested": [
                                                            {
                                                                "name": "inputType",
                                                                "type": "select",
                                                                "label": "Video Input Method",
                                                                "default": "uri",
                                                                "options": [
                                                                    {
                                                                        "label": "Upload a File",
                                                                        "value": "upload",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File Name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "File URL",
                                                                        "value": "uri",
                                                                        "nested": [
                                                                            {
                                                                                "help": "The file extension/format.",
                                                                                "name": "mime",
                                                                                "type": "select",
                                                                                "label": "MIME Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "MP4",
                                                                                        "value": "mp4"
                                                                                    },
                                                                                    {
                                                                                        "label": "MPG",
                                                                                        "value": "mpg"
                                                                                    },
                                                                                    {
                                                                                        "label": "MPEG",
                                                                                        "value": "mpeg"
                                                                                    },
                                                                                    {
                                                                                        "label": "MOV",
                                                                                        "value": "mov"
                                                                                    },
                                                                                    {
                                                                                        "label": "AVI",
                                                                                        "value": "avi"
                                                                                    },
                                                                                    {
                                                                                        "label": "FLV",
                                                                                        "value": "x-flv"
                                                                                    },
                                                                                    {
                                                                                        "label": "WEBM",
                                                                                        "value": "webm"
                                                                                    },
                                                                                    {
                                                                                        "label": "WMV",
                                                                                        "value": "wmv"
                                                                                    },
                                                                                    {
                                                                                        "label": "3GPP",
                                                                                        "value": "3gpp"
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URL",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Audio",
                                                        "value": "audio",
                                                        "nested": [
                                                            {
                                                                "name": "inputType",
                                                                "type": "select",
                                                                "label": "Audio Input Method",
                                                                "default": "uri",
                                                                "options": [
                                                                    {
                                                                        "label": "Upload a File",
                                                                        "value": "upload",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File Name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "File URL",
                                                                        "value": "uri",
                                                                        "nested": [
                                                                            {
                                                                                "help": "The file extension/format.",
                                                                                "name": "mime",
                                                                                "type": "select",
                                                                                "label": "MIME Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "WAV",
                                                                                        "value": "wav"
                                                                                    },
                                                                                    {
                                                                                        "label": "MP3",
                                                                                        "value": "mp3"
                                                                                    },
                                                                                    {
                                                                                        "label": "AIFF",
                                                                                        "value": "aiff"
                                                                                    },
                                                                                    {
                                                                                        "label": "AAC",
                                                                                        "value": "aac"
                                                                                    },
                                                                                    {
                                                                                        "label": "OGG Vorbis",
                                                                                        "value": "ogg"
                                                                                    },
                                                                                    {
                                                                                        "label": "FLAC",
                                                                                        "value": "flac"
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URL",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true,
                                                "validate": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "File"
                                    },
                                    "type": "array",
                                    "label": "Files",
                                    "labels": {
                                        "add": "Add file"
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "maxOutputTokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens",
                        "validate": {
                            "max": 8192,
                            "min": 0
                        }
                    },
                    {
                        "name": "topK",
                        "type": "uinteger",
                        "label": "Top-k",
                        "validate": {
                            "max": 40,
                            "min": 1
                        }
                    },
                    {
                        "name": "topP",
                        "type": "number",
                        "label": "Top-p",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "stopSequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 5
                        }
                    },
                    {
                        "name": "responseMimeType",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json"
                            ]
                        }
                    },
                    {
                        "name": "safetySettings",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "category",
                                    "type": "select",
                                    "label": "Safety Category",
                                    "options": [
                                        {
                                            "label": "Sexually Explicit",
                                            "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                        },
                                        {
                                            "label": "Hate Speech",
                                            "value": "HARM_CATEGORY_HATE_SPEECH"
                                        },
                                        {
                                            "label": "Harassment",
                                            "value": "HARM_CATEGORY_HARASSMENT"
                                        },
                                        {
                                            "label": "Dangerous Content",
                                            "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "threshold",
                                    "type": "select",
                                    "label": "Threshold",
                                    "options": [
                                        {
                                            "label": "Block None",
                                            "value": "BLOCK_NONE"
                                        },
                                        {
                                            "label": "Block Low and Above",
                                            "value": "BLOCK_LOW_AND_ABOVE"
                                        },
                                        {
                                            "label": "Block Medium and Above",
                                            "value": "BLOCK_MEDIUM_AND_ABOVE"
                                        },
                                        {
                                            "label": "Block High and Above",
                                            "value": "BLOCK_ONLY_HIGH"
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Safety Setting"
                        },
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "validate": {
                            "enum": [
                                "functionDeclarations",
                                "grounding"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "predictions",
                        "spec": {
                            "spec": [
                                {
                                    "name": "candidates",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "content",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "parts",
                                                        "spec": [
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Parts"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "finishReason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "safetyRatings",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "category",
                                                            "type": "text",
                                                            "label": "Category"
                                                        },
                                                        {
                                                            "name": "probability",
                                                            "type": "text",
                                                            "label": "Probability"
                                                        },
                                                        {
                                                            "name": "probabilityScore",
                                                            "type": "number",
                                                            "label": "Probability Score"
                                                        },
                                                        {
                                                            "name": "severity",
                                                            "type": "text",
                                                            "label": "Severity"
                                                        },
                                                        {
                                                            "name": "severityScore",
                                                            "type": "number",
                                                            "label": "Severity Score"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array",
                                                "label": "Safety Ratings"
                                            },
                                            {
                                                "name": "groundingMetadata",
                                                "spec": [
                                                    {
                                                        "name": "webSearchQueries",
                                                        "spec": {
                                                            "type": "text"
                                                        },
                                                        "type": "array",
                                                        "label": "Web Search Queries"
                                                    },
                                                    {
                                                        "name": "searchEntryPoint",
                                                        "type": "collection",
                                                        "label": "Search Entry Point"
                                                    },
                                                    {
                                                        "name": "groundingChunks",
                                                        "spec": {
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Grounding Chunks"
                                                    },
                                                    {
                                                        "name": "groundingSupports",
                                                        "spec": {
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Grounding Supports"
                                                    },
                                                    {
                                                        "name": "retrievalMetadata",
                                                        "spec": [],
                                                        "type": "collection",
                                                        "label": "Retrieval Metadata"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Grounding Metadata"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Candidates"
                                },
                                {
                                    "name": "usageMetadata",
                                    "spec": [
                                        {
                                            "name": "promptTokenCount",
                                            "type": "number",
                                            "label": "Prompt Token Count"
                                        },
                                        {
                                            "name": "candidatesTokenCount",
                                            "type": "number",
                                            "label": "Candidates Token Count"
                                        },
                                        {
                                            "name": "totalTokenCount",
                                            "type": "number",
                                            "label": "Total Token Count"
                                        },
                                        {
                                            "name": "promptTokensDetails",
                                            "spec": [
                                                {
                                                    "name": "modality",
                                                    "type": "text",
                                                    "label": "Modality"
                                                },
                                                {
                                                    "name": "tokenCount",
                                                    "type": "number",
                                                    "label": "Token Count"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "candidatesTokensDetails",
                                            "spec": [
                                                {
                                                    "name": "modality",
                                                    "type": "text",
                                                    "label": "Modality"
                                                },
                                                {
                                                    "name": "tokenCount",
                                                    "type": "number",
                                                    "label": "Token Count"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Candidates Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage Metadata"
                                },
                                {
                                    "name": "modelVersion",
                                    "type": "text",
                                    "label": "Model Version"
                                },
                                {
                                    "name": "createTime",
                                    "type": "date",
                                    "label": "Create Time"
                                },
                                {
                                    "name": "responseId",
                                    "type": "text",
                                    "label": "Response ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Predictions"
                    },
                    {
                        "name": "textResponse",
                        "type": "text",
                        "label": "Text Response"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-vertex-ai:createAMultimodalPrompt",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3613811
            },
            "mapper": {
                "topP": "1",
                "model": "gemini-2.5-flash",
                "messages": [
                    {
                        "role": "user",
                        "content": "Create a catchy title for the video generated using the prompt {{4.textResponse}}suitable for youtube. Output only the title."
                    }
                ],
                "projectId": "make-test-478011",
                "temperature": "0.9",
                "responseMimeType": "text/plain",
                "serviceEndpointLocationId": "us-central1"
            },
            "metadata": {
                "designer": {
                    "x": 431,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash",
                            "nested": [
                                {
                                    "name": "tools",
                                    "type": "select",
                                    "label": "Tools",
                                    "options": [
                                        {
                                            "label": "Function Declarations",
                                            "value": "functionDeclarations",
                                            "nested": [
                                                {
                                                    "name": "functionDeclarations",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Function Name",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "description",
                                                            "type": "text",
                                                            "label": "Function Description",
                                                            "required": true
                                                        },
                                                        {
                                                            "help": "Configuration of the parameters that the function accepts.",
                                                            "name": "parameters",
                                                            "spec": {
                                                                "spec": [
                                                                    "rpc://google-vertex-ai/1/parametersGeminiFunctionParameters"
                                                                ],
                                                                "type": "collection",
                                                                "label": "Parameter"
                                                            },
                                                            "type": "array",
                                                            "label": "Parameters",
                                                            "required": true
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Function Declarations"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Grounding",
                                            "value": "grounding",
                                            "nested": [
                                                "rpc://google-vertex-ai/1/parametersGrounding"
                                            ]
                                        }
                                    ],
                                    "advanced": true
                                }
                            ]
                        },
                        "tools": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "files": {
                                        "mode": "chose"
                                    }
                                }
                            ]
                        },
                        "projectId": {
                            "mode": "chose",
                            "label": "Make test"
                        },
                        "stopSequences": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "responseMimeType": {
                            "label": "Text"
                        },
                        "serviceEndpointLocationId": {
                            "mode": "chose",
                            "label": "Iowa"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-vertex-ai"
                            },
                            "label": "My Google Gemini (Vertex AI) connection (vrindavnair21@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-vertex-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "projectId",
                        "type": "select",
                        "label": "GCP Project",
                        "required": true
                    },
                    {
                        "name": "serviceEndpointLocationId",
                        "type": "select",
                        "label": "Region",
                        "required": true,
                        "validate": {
                            "enum": [
                                "us-central1",
                                "us-west4",
                                "northamerica-northeast1",
                                "us-east4",
                                "us-west1",
                                "europe-west1",
                                "europe-west3",
                                "europe-west2",
                                "europe-west4",
                                "europe-west9",
                                "asia-northeast3",
                                "asia-southeast1",
                                "asia-northeast1"
                            ]
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "default": true
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "model"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content",
                                    "required": true
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "fileType",
                                                "type": "select",
                                                "label": "File Type",
                                                "options": [
                                                    {
                                                        "label": "Image",
                                                        "value": "image",
                                                        "nested": [
                                                            {
                                                                "name": "inputType",
                                                                "type": "select",
                                                                "label": "Image Input Method",
                                                                "options": [
                                                                    {
                                                                        "label": "Upload a File",
                                                                        "value": "upload",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File Name",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "png",
                                                                                    "jpeg",
                                                                                    "jpg",
                                                                                    "webp",
                                                                                    "heic",
                                                                                    "heif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "File URL",
                                                                        "value": "uri",
                                                                        "nested": [
                                                                            {
                                                                                "help": "The file extension/format.",
                                                                                "name": "mime",
                                                                                "type": "select",
                                                                                "label": "MIME Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "PNG",
                                                                                        "value": "png"
                                                                                    },
                                                                                    {
                                                                                        "label": "JPG",
                                                                                        "value": "jpg"
                                                                                    },
                                                                                    {
                                                                                        "label": "JPEG",
                                                                                        "value": "jpeg"
                                                                                    },
                                                                                    {
                                                                                        "label": "WEBP",
                                                                                        "value": "webp"
                                                                                    },
                                                                                    {
                                                                                        "label": "HEIC",
                                                                                        "value": "heic"
                                                                                    },
                                                                                    {
                                                                                        "label": "HEIF",
                                                                                        "value": "heif"
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URL",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Video",
                                                        "value": "video",
                                                        "nested": [
                                                            {
                                                                "name": "inputType",
                                                                "type": "select",
                                                                "label": "Video Input Method",
                                                                "default": "uri",
                                                                "options": [
                                                                    {
                                                                        "label": "Upload a File",
                                                                        "value": "upload",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File Name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "File URL",
                                                                        "value": "uri",
                                                                        "nested": [
                                                                            {
                                                                                "help": "The file extension/format.",
                                                                                "name": "mime",
                                                                                "type": "select",
                                                                                "label": "MIME Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "MP4",
                                                                                        "value": "mp4"
                                                                                    },
                                                                                    {
                                                                                        "label": "MPG",
                                                                                        "value": "mpg"
                                                                                    },
                                                                                    {
                                                                                        "label": "MPEG",
                                                                                        "value": "mpeg"
                                                                                    },
                                                                                    {
                                                                                        "label": "MOV",
                                                                                        "value": "mov"
                                                                                    },
                                                                                    {
                                                                                        "label": "AVI",
                                                                                        "value": "avi"
                                                                                    },
                                                                                    {
                                                                                        "label": "FLV",
                                                                                        "value": "x-flv"
                                                                                    },
                                                                                    {
                                                                                        "label": "WEBM",
                                                                                        "value": "webm"
                                                                                    },
                                                                                    {
                                                                                        "label": "WMV",
                                                                                        "value": "wmv"
                                                                                    },
                                                                                    {
                                                                                        "label": "3GPP",
                                                                                        "value": "3gpp"
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URL",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Audio",
                                                        "value": "audio",
                                                        "nested": [
                                                            {
                                                                "name": "inputType",
                                                                "type": "select",
                                                                "label": "Audio Input Method",
                                                                "default": "uri",
                                                                "options": [
                                                                    {
                                                                        "label": "Upload a File",
                                                                        "value": "upload",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File Name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "File URL",
                                                                        "value": "uri",
                                                                        "nested": [
                                                                            {
                                                                                "help": "The file extension/format.",
                                                                                "name": "mime",
                                                                                "type": "select",
                                                                                "label": "MIME Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "WAV",
                                                                                        "value": "wav"
                                                                                    },
                                                                                    {
                                                                                        "label": "MP3",
                                                                                        "value": "mp3"
                                                                                    },
                                                                                    {
                                                                                        "label": "AIFF",
                                                                                        "value": "aiff"
                                                                                    },
                                                                                    {
                                                                                        "label": "AAC",
                                                                                        "value": "aac"
                                                                                    },
                                                                                    {
                                                                                        "label": "OGG Vorbis",
                                                                                        "value": "ogg"
                                                                                    },
                                                                                    {
                                                                                        "label": "FLAC",
                                                                                        "value": "flac"
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URL",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true,
                                                "validate": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "File"
                                    },
                                    "type": "array",
                                    "label": "Files",
                                    "labels": {
                                        "add": "Add file"
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "maxOutputTokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens",
                        "validate": {
                            "max": 8192,
                            "min": 0
                        }
                    },
                    {
                        "name": "topK",
                        "type": "uinteger",
                        "label": "Top-k",
                        "validate": {
                            "max": 40,
                            "min": 1
                        }
                    },
                    {
                        "name": "topP",
                        "type": "number",
                        "label": "Top-p",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "stopSequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 5
                        }
                    },
                    {
                        "name": "responseMimeType",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json"
                            ]
                        }
                    },
                    {
                        "name": "safetySettings",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "category",
                                    "type": "select",
                                    "label": "Safety Category",
                                    "options": [
                                        {
                                            "label": "Sexually Explicit",
                                            "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                        },
                                        {
                                            "label": "Hate Speech",
                                            "value": "HARM_CATEGORY_HATE_SPEECH"
                                        },
                                        {
                                            "label": "Harassment",
                                            "value": "HARM_CATEGORY_HARASSMENT"
                                        },
                                        {
                                            "label": "Dangerous Content",
                                            "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "threshold",
                                    "type": "select",
                                    "label": "Threshold",
                                    "options": [
                                        {
                                            "label": "Block None",
                                            "value": "BLOCK_NONE"
                                        },
                                        {
                                            "label": "Block Low and Above",
                                            "value": "BLOCK_LOW_AND_ABOVE"
                                        },
                                        {
                                            "label": "Block Medium and Above",
                                            "value": "BLOCK_MEDIUM_AND_ABOVE"
                                        },
                                        {
                                            "label": "Block High and Above",
                                            "value": "BLOCK_ONLY_HIGH"
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Safety Setting"
                        },
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "validate": {
                            "enum": [
                                "functionDeclarations",
                                "grounding"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "predictions",
                        "spec": {
                            "spec": [
                                {
                                    "name": "candidates",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "content",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "parts",
                                                        "spec": [
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Parts"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "finishReason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "safetyRatings",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "category",
                                                            "type": "text",
                                                            "label": "Category"
                                                        },
                                                        {
                                                            "name": "probability",
                                                            "type": "text",
                                                            "label": "Probability"
                                                        },
                                                        {
                                                            "name": "probabilityScore",
                                                            "type": "number",
                                                            "label": "Probability Score"
                                                        },
                                                        {
                                                            "name": "severity",
                                                            "type": "text",
                                                            "label": "Severity"
                                                        },
                                                        {
                                                            "name": "severityScore",
                                                            "type": "number",
                                                            "label": "Severity Score"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array",
                                                "label": "Safety Ratings"
                                            },
                                            {
                                                "name": "groundingMetadata",
                                                "spec": [
                                                    {
                                                        "name": "webSearchQueries",
                                                        "spec": {
                                                            "type": "text"
                                                        },
                                                        "type": "array",
                                                        "label": "Web Search Queries"
                                                    },
                                                    {
                                                        "name": "searchEntryPoint",
                                                        "type": "collection",
                                                        "label": "Search Entry Point"
                                                    },
                                                    {
                                                        "name": "groundingChunks",
                                                        "spec": {
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Grounding Chunks"
                                                    },
                                                    {
                                                        "name": "groundingSupports",
                                                        "spec": {
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Grounding Supports"
                                                    },
                                                    {
                                                        "name": "retrievalMetadata",
                                                        "spec": [],
                                                        "type": "collection",
                                                        "label": "Retrieval Metadata"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Grounding Metadata"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Candidates"
                                },
                                {
                                    "name": "usageMetadata",
                                    "spec": [
                                        {
                                            "name": "promptTokenCount",
                                            "type": "number",
                                            "label": "Prompt Token Count"
                                        },
                                        {
                                            "name": "candidatesTokenCount",
                                            "type": "number",
                                            "label": "Candidates Token Count"
                                        },
                                        {
                                            "name": "totalTokenCount",
                                            "type": "number",
                                            "label": "Total Token Count"
                                        },
                                        {
                                            "name": "promptTokensDetails",
                                            "spec": [
                                                {
                                                    "name": "modality",
                                                    "type": "text",
                                                    "label": "Modality"
                                                },
                                                {
                                                    "name": "tokenCount",
                                                    "type": "number",
                                                    "label": "Token Count"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "candidatesTokensDetails",
                                            "spec": [
                                                {
                                                    "name": "modality",
                                                    "type": "text",
                                                    "label": "Modality"
                                                },
                                                {
                                                    "name": "tokenCount",
                                                    "type": "number",
                                                    "label": "Token Count"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Candidates Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage Metadata"
                                },
                                {
                                    "name": "modelVersion",
                                    "type": "text",
                                    "label": "Model Version"
                                },
                                {
                                    "name": "createTime",
                                    "type": "date",
                                    "label": "Create Time"
                                },
                                {
                                    "name": "responseId",
                                    "type": "text",
                                    "label": "Response ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Predictions"
                    },
                    {
                        "name": "textResponse",
                        "type": "text",
                        "label": "Text Response"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-vertex-ai:generateAVideo",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3613811
            },
            "mapper": {
                "image": {},
                "model": "veo-3.0-fast-generate-preview",
                "prompt": "{{4.textResponse}}",
                "projectId": "make-test-478011",
                "resolution": "720p",
                "aspectRatio": "16:9",
                "generateAudio": true,
                "durationSeconds": "8",
                "serviceEndpointLocationId": "us-central1"
            },
            "metadata": {
                "designer": {
                    "x": 730,
                    "y": 1
                },
                "restore": {
                    "expect": {
                        "image": {
                            "nested": {
                                "inputType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "model": {
                            "mode": "chose",
                            "label": "veo-3.0-fast-generate-preview",
                            "nested": [
                                {
                                    "help": "The resolution of the generated video.",
                                    "name": "resolution",
                                    "type": "select",
                                    "label": "Resolution",
                                    "default": "720p",
                                    "options": [
                                        {
                                            "label": "720p",
                                            "value": "720p"
                                        },
                                        {
                                            "label": "1080p",
                                            "value": "1080p"
                                        }
                                    ]
                                },
                                {
                                    "help": "Generates audio for the video.",
                                    "name": "generateAudio",
                                    "type": "boolean",
                                    "label": "Generate Audio",
                                    "default": true,
                                    "required": true
                                },
                                {
                                    "help": "Uses Gemini to enhance prompts.",
                                    "name": "enhancePrompt",
                                    "type": "boolean",
                                    "label": "Enhance Prompt"
                                }
                            ]
                        },
                        "projectId": {
                            "mode": "chose",
                            "label": "Make test"
                        },
                        "resolution": {
                            "mode": "chose",
                            "label": "720p"
                        },
                        "aspectRatio": {
                            "mode": "chose",
                            "label": "16:9 (landscape)"
                        },
                        "enhancePrompt": {
                            "mode": "chose"
                        },
                        "generateAudio": {
                            "mode": "chose"
                        },
                        "personGeneration": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "serviceEndpointLocationId": {
                            "mode": "chose",
                            "label": "us-central1"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-vertex-ai"
                            },
                            "label": "My Google Gemini (Vertex AI) connection (vrindavnair21@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-vertex-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "projectId",
                        "type": "select",
                        "label": "GCP project",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    },
                    {
                        "name": "durationSeconds",
                        "type": "uinteger",
                        "label": "Duration seconds",
                        "validate": {
                            "max": 8,
                            "min": 5
                        }
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "inputType",
                                "type": "select",
                                "label": "Image input method",
                                "validate": {
                                    "enum": [
                                        "upload",
                                        "gcs"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Image input"
                    },
                    {
                        "name": "storageUri",
                        "type": "url",
                        "label": "Google Cloud Storage URI"
                    },
                    {
                        "name": "sampleCount",
                        "type": "integer",
                        "label": "Sample count",
                        "validate": {
                            "max": 4,
                            "min": 1
                        }
                    },
                    {
                        "name": "seed",
                        "type": "text",
                        "label": "Seed",
                        "validate": {
                            "max": 4294967295,
                            "min": 0
                        }
                    },
                    {
                        "name": "negativePrompt",
                        "type": "text",
                        "label": "Negative prompt"
                    },
                    {
                        "name": "aspectRatio",
                        "type": "select",
                        "label": "Aspect ratio",
                        "validate": {
                            "enum": [
                                "16:9",
                                "9:16"
                            ]
                        }
                    },
                    {
                        "name": "personGeneration",
                        "type": "select",
                        "label": "Person generation",
                        "validate": {
                            "enum": [
                                "dont_allow",
                                "allow_adult"
                            ]
                        }
                    },
                    {
                        "name": "serviceEndpointLocationId",
                        "type": "select",
                        "label": "Region",
                        "required": true
                    },
                    {
                        "name": "resolution",
                        "type": "select",
                        "label": "Resolution",
                        "validate": {
                            "enum": [
                                "720p",
                                "1080p"
                            ]
                        }
                    },
                    {
                        "name": "generateAudio",
                        "type": "boolean",
                        "label": "Generate Audio",
                        "required": true
                    },
                    {
                        "name": "enhancePrompt",
                        "type": "boolean",
                        "label": "Enhance Prompt"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "youtube:uploadVideo",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3619779
            },
            "mapper": {
                "data": "{{3.videos[].videoData}}",
                "title": "{{6.textResponse}}",
                "fileName": "video.mp4",
                "categoryId": "24",
                "description": "This video is created using Google veo in the make automation workflow. ",
                "privacyStatus": "public",
                "containsSyntheticMedia": false,
                "selfDeclaredMadeForKids": false
            },
            "metadata": {
                "designer": {
                    "x": 1021,
                    "y": 1
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "license": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "categoryId": {
                            "mode": "chose",
                            "label": "Entertainment"
                        },
                        "embeddable": {
                            "mode": "chose"
                        },
                        "privacyStatus": {
                            "mode": "chose",
                            "label": "Public"
                        },
                        "notifySubscribers": {
                            "mode": "chose"
                        },
                        "containsSyntheticMedia": {
                            "mode": "chose"
                        },
                        "selfDeclaredMadeForKids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "youtube"
                            },
                            "label": "My YouTube -ambitious connection (Ambitious Soul <ambitioussoulwithwings@gmail.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:youtube",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true,
                        "validate": {
                            "max": 100
                        }
                    },
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "categoryId",
                        "type": "select",
                        "label": "Video Category",
                        "required": true
                    },
                    {
                        "name": "privacyStatus",
                        "type": "select",
                        "label": "Privacy Status and Scheduling",
                        "required": true,
                        "validate": {
                            "enum": [
                                "private",
                                "unlisted",
                                "public"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "validate": {
                            "max": 5000
                        }
                    },
                    {
                        "name": "selfDeclaredMadeForKids",
                        "type": "boolean",
                        "label": "**The video is made for kids**",
                        "required": true
                    },
                    {
                        "name": "containsSyntheticMedia",
                        "type": "boolean",
                        "label": "**The video contains altered/synthetic media**",
                        "required": true
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Tag",
                            "required": true,
                            "validate": {
                                "max": 500
                            }
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "recordingDate",
                        "type": "date",
                        "label": "Recording Date"
                    },
                    {
                        "name": "license",
                        "type": "select",
                        "label": "License",
                        "validate": {
                            "enum": [
                                "youtube",
                                "creativeCommon"
                            ]
                        }
                    },
                    {
                        "name": "embeddable",
                        "type": "boolean",
                        "label": "Allow Embedding"
                    },
                    {
                        "name": "notifySubscribers",
                        "type": "boolean",
                        "label": "Notify Subscribers"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1428,
                    "y": -2
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3517574
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.messages[].text.body}}",
                                    "1": "{{4.textResponse}}",
                                    "2": "https://youtu.be/{{5.id}}",
                                    "3": "Done"
                                },
                                "sheetId": "Sheet1",
                                "spreadsheetId": "/1q61WLyl_bAss2j6-W-jVYgQchA18i0Z_u88m9k2_foI",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1876,
                                    "y": -233
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "whatsapp_video"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Message (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Prompt (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Video_link (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "status (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (ambitioussoulwithwings@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Message (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Prompt (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Video_link (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "status (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "whatsapp-business-cloud:sendMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3626610
                            },
                            "mapper": {
                                "to": "{{1.contacts[].wa_id}}",
                                "text": {
                                    "body": "Your video is generated and is available at https://youtu.be/{{5.id}}",
                                    "preview_url": true
                                },
                                "type": "text",
                                "fromId": "881283488398287"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1809,
                                    "y": 313
                                },
                                "restore": {
                                    "expect": {
                                        "text": {
                                            "nested": {
                                                "preview_url": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "type": {
                                            "label": "Text"
                                        },
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Yadhu G Kartha (+971 54 239 7219)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud"
                                            },
                                            "label": "My WhatsApp Business Cloud connection (Yadhu G Kartha (1350784193430845))"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud,whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "image",
                                                "audio",
                                                "video",
                                                "document",
                                                "sticker",
                                                "location",
                                                "contacts",
                                                "interactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "body",
                                                "type": "text",
                                                "label": "Body",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            },
                                            {
                                                "name": "preview_url",
                                                "type": "boolean",
                                                "label": "Preview URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}